body {
    background: #1d1d1d;
    font-family: 'Roboto', sans-serif;
}
.login-box {
    margin-top: 75px;
    height: auto;
    background: #212120;
    text-align: center;
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
}

.login-key {
    margin: 0 auto;
    width: 15rem;
    font-size: 80px;
    line-height: 100px;
    background: linear-gradient(to bottom, #2f4859 0%, #89216b 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.login-title {
    margin-top: 15px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    margin-top: 15px;
    font-weight: bold;
    color: #ECF0F5;
}

.login-form {
    margin-top: 25px;
    text-align: left;
}

input[type=text] {
    background-color: #212120;
    border: none;
    border-bottom: 2px solid #2f4859;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    margin-bottom: 20px;
    padding-left: 0px;
    color: #ECF0F5;
}

input[type=password] {
    background-color: #212120;
    border: none;
    border-bottom: 2px solid #2f4859;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    padding-left: 0px;
    margin-bottom: 20px;
    color: #ECF0F5;
}

.form-group {
    margin-bottom: 40px;
    outline: 0px;
    border: none ;
}

.form-control:focus {
    border: none ;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 2px solid #2f4859;
    outline: 0;
    background-color: #212120;
    color: #ECF0F5;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0;
}

label {
    margin-bottom: 0px;
}

.form-control-label {
    font-size: 10px;
    color: #6C6C6C;
    font-weight: bold;
    letter-spacing: 1px;
}

.btn-outline-primary {
    border-color: #2f4859;
    color: #2f4859;
    border-radius: 0px;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.btn-outline-primary:hover {
    background-color: #2f4859;
    right: 0px;
}

.login-btm {
    float: left;
}

.login-button {
    padding-right: 0px;
    text-align: center;
    margin-bottom: 25px;
}

.login-text {
    text-align: left;
    padding-left: 0px;
    color: #A2A4A4;
}

.loginbttm {
    padding: 0px;
}