@import url(https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap);
body {
  display: -webkit-box;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  background: #e6f3f9;
  font-family: 'Noto Sans', sans-serif;;
  color: black;
  letter-spacing: 1px;
}

.card-form {
  width: 500px;
  border-radius: 10px;
  background: white;
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
}
.card-form .form-title {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  height: 80px;
  font-size: 20px;
  font-weight: bold;
  background: #dd4a2c;
  color: white;
  border-radius: 10px 10px 0 0;
}
.card-form .form-body {
  padding: 10px;
}
.card-form .form-body .row {
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.card-form .form-body .row input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  margin: 0 15px;
  height: 35px;
  padding: 5px 15px;
  border-radius: 5px;
  outline: none;
  border: none;
  background: #e8ebed;
  color: #576366;
  font-size: 14px;
}
.card-form .rule {
  height: 2px;
  background: #e8ebed;
  margin: 0px 35px;
}
.card-form .form-footer {
  margin: 0 25px 15px 25px;
  padding: 15px 10px;
}
.card-form .form-footer a {
  text-decoration: none;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  background: #2f4859;
  margin-right: 10px;
  color: white;
  font-size: 14px;
}
.card-form .form-footer a:hover {
  background: #5F788A;
  cursor: pointer;
}
.card-form .form-footer span {
  margin-left: 8px;
}

.text-red {
  color: red;
}

.text-green {
  color: green;
}

.phone-number {
  display: flex;
}

.phone-number--country {
  flex: 1 1 30%;
  padding-left: 15px;
}

.phone-number--number {
  flex: 1 1 70%;
}

.Select-menu-outer {
  width: 200px;
}

.message {
  font-weight: bold;
  color: brown;
}